<footer class="footer">
    <div class="wrap">
        <div class="footer-content">
            <div class="footer-content-block">
                <table class="footer-content-block__table"> 
                    <tbody>
                        <tr> 
                            <td>
                                <p class="ct-margin-remove ct-font-26">230 000</p>
                                <p class="ct-margin-remove ct-font-12">выпускников</p>
                            </td> 
                            <td>
                                <p class="ct-margin-remove ct-font-26">565</p>
                                <p class="ct-margin-remove ct-font-12">школ</p>
                            </td> 
                            <td><p class="ct-margin-remove ct-font-26">11</p>
                                <p class="ct-margin-remove ct-font-12">лет работы</p>
                            </td> 
                        </tr> 
                    </tbody>
                </table>

                <p class="ct-margin-remove">©&nbsp;Школа скорочтения</p>
                <p>и&nbsp;развития интеллекта&nbsp;</p>
                <p><b>IQ007 в&nbsp;Дятьково</b></p>
                <p><a href="https://iq007.ru/citylist" class="to-reviews" target="_blank">
                    Школы IQ007 в других городах</a>
                </p>
                <p><a href="http://www.bisness-iq007.ru/" class="to-reviews" target="_blank">
                    Франшиза IQ007</a>
                </p>

                <div class="footer-content-block-soc">
                    <a href="javascript:;" class="soc-link soc-links__vk">
                        <svg class="icon icon-soc">
                            <use xlink:href="#icon-vk-logo"></use>
                        </svg>
                    </a>

                    <a href="javascript:;" class="soc-link soc-links__instagram">
                        <svg class="icon icon-soc">
                            <use xlink:href="#icon-inst-logo"></use>
                        </svg>
                    </a>

                    <a href="javascript:;" class="soc-link soc-links__ok">
                        <svg class="icon icon-soc">
                            <use xlink:href="#icon-ok-logo"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="footer-content-block footer-content-block_order">
                <img src="img/fox-kids-02.png" alt="">
            </div>
        </div>
    </div>
</footer>
