<header class="header is-fixed">
    <div class="header-nav bg-header">
        <div class="header-nav-item">
            <a class="header-nav__link" href="./index.html">Скорочтение</a>
        </div>

        <div class="header-nav-item">
            <a class="header-nav__link" href="./english.html">Английский</a>
        </div>

        <div class="header-nav-item">
            <a class="header-nav__link" href="./mnemonics.html">Память и внимание</a>
        </div>

        <div class="header-nav-item">
            <a class="header-nav__link" href="javascript:;">Подготовка к школе</a>
        </div>

        <div class="header-nav-item">
            <a class="header-nav__link" href="./calligraphy.html">Грамотное письмо и каллиграфия</a>
        </div>

        <div class="header-nav-item">
            <a class="header-nav__link" href="javascript:;">Отзывы</a>
        </div>

        <div class="header-nav-item">
            <a class="header-nav__link" href="./contacts.html">Контакты</a>
        </div>
    </div>

    <div class="header-mobile">
        <div class="header-mobile-logo">
            <a href="./index.html" class="header-mobile-logo__img">
                <img class="icon-logo" src="img/logo.png" alt="">
            </a>
        </div>

        <div class="header-mobile-burger">
            <button class="header-mobile__btn">
                <span class="burger">
                </span>
            </button>
            
    
            <div class="header-mobile-nav ">
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="./index.html">Скорочтение</a>
                </div>
        
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="./english.html">Английский</a>
                </div>
        
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="./mnemonics.html">Память и внимание</a>
                </div>
        
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="javascript:;">Подготовка к школе</a>
                </div>
        
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="./calligraphy.html">Грамотное письмо и каллиграфия</a>
                </div>
        
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="javascript:;">Отзывы</a>
                </div>
        
                <div class="header-mobile-nav-item">
                    <a class="header-mobile-nav__link" href="./contacts.html">Контакты</a>
                </div>
            </div>
        </div>
        
    </div>
</header>