.map {
    border-top: .1rem solid #e6e6e6;
    border-bottom: .1rem solid #e6e6e6;
    height: 50rem;

    @media (--tablet-lg-max) {
        height: 45rem;
    }

    @media (--mobile-lg) {
        height: 40rem;
    }

    @media (--mobile-md) {
        height: 30rem;
    }
}