.wrap {
    position: relative;
    /* padding: 0 15%; */
    display: flex;
    flex-direction: column;
    max-width: 980px;

    margin: 0 auto;
   

    @media   (--tablet-lg-max) {
        padding: 0 4rem;
    }

    @media (--mobile-sm) {
        max-width: 42rem;
        padding: 0 1.3rem;
    }
}
    